/* src/components/DualTimeline.css */
.dual-timeline {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.feed {
  width: 90vw;
  margin: 0 auto;
}

.timeline {
  background-color: var(--white);
  padding: 38px 20px;
  margin-left: -20px;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 1.5rem;
}

.post {
  background-color: var(--grey);
  padding: 32px 16px;
  margin: 12px 0;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.post-chapo {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0;
}

.post > p {
  margin: 5px 0 2px;
  font-size: 1.3rem;
}