.App {
  text-align: center;
}

button {
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* login */

.weird {
  color: #5784a1;
  font-size: 1.4rem;
  margin-top: 28px;
}

#email, #password {
  width: 320px;
  height: 38px;
  border: 1px solid #5784a1;
}

.form-example a {
  color: #5784a1;
  font-size: 0.9rem;
  font-weight: 400;;
}

.button {
  padding: 4px 20px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  color: var(--white);
  font-family: 'Agora', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Blue button */
.blue-button {
  background-color: #5784a1;
  width: 250px;
}

.blue-button:hover {
  background-color: #486c85; /* Darker blue on hover */
}

/* Green button */
.green-button {
  background-color: #ade374;
  width: 300px;
}

.green-button:hover {
  background-color: #7ca551; /* Darker green on hover */
}

.forgot-password {
  font-size: 10px;
}

/* profile page */

.profile-title {
  display: none;
}

.profile-infos {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 8vw 3vw;
}

.profile-pic {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.profile-infos-right-part {
  display: flex;
  flex-direction: column;
}

.profile-infos-right-part > p {
  background: var(--grey);
  text-align: left;
  padding: 5px 10px;
  border-radius: 10px;
  width: 45vw;
  margin: 3vw 0;
}

.profile h2 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 9vw;
  margin: 0;
}

.profile-bio-content {
  background-color: var(--grey);
  margin: 0 5vw 5vw;
  border-radius: 10px;
  min-height: 4rem;
  padding: 2vw 3vw;
  text-align: left;
}

.profile-bio-content > p {
  margin: 0;
}

.profile-tags-ajout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}

.profile-tags-ajout > button {
  background-color: var(--grey);
  border-radius: 50%;
  padding: 0;
  color: var(--orange-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 0.5rem;
  height: 23px;
  width: 23px;
}

.profile-tags-ajout > p {
  background-color: var(--grey);
  border-radius: 40px;
  padding: 0 0 0 10px;
  margin: 4px;
  font-size: 1rem;
  width: 43vw;
  text-align: left;
}
